
    <form>
       <fieldset>
         <legend>Mental Health Tracker</legend>
         <p>
           <label>What symptoms have you noticed today?</label>

           <h1> Date: <% req.dailylists.date%> </h1>

           <!-- list of symptoms !-->

           <!-- if('fatigue' in checklist.symptoms) -->

<form name="symptoms" class="symptoms">

             <input type = "checkbox"
                  name = "type"
                 id = "fatigue"
                 value = "fatigue" />
             <label for = "fatigue">Fatigue</label>

             <input type = "checkbox"
             name = "type"
                 id = "anxiety"
                 value = "anxiety" />
             <label for = "anxiety">Anxiety</label>
  
              <input type = "checkbox"
              name = "type"
                 id = "apathy"
                 value = "apathy" />
             <label for = "apathy">Apathy</label>

               <input type = "checkbox"
               name = "type"
                 id = "moodswings"
                 value = "moodswings" />
             <label for = "moodswings">Mood Swings</label>

               <input type = "checkbox"
               name = "type"
                 id = "insomnia"
                 value = "insomnia" />
             <label for = "insomnia">Insomnia</label>

               <input type = "checkbox"
               name = "type"
                 id = "agitation"
                 value = "agitation" />
             <label for = "agitation">Agitation</label>

               <input type = "checkbox"
               name = "type"
                 id = "irritability"
                 value = "irritability" />
             <label for = "irritability">Irritability</label>

               <input type = "checkbox"
               name = "type"
                 id = "concentration"
                 value = "concentration" />
             <label for = "concentration">Lack of Concentration</label>

               <input type = "checkbox"
               name = "type"
                 id = "hunger"
                 value = "hunger" />
             <label for = "hunger">Excessive Hunger</label>

               <input type = "checkbox"
               name = "type"
                 id = "appetite"
                 value = "appetite" />
             <label for = "appetite">Lack of Appetite</label>

                <div class="submit">
           <button type="button">Save Today's Data</button>
        </div>
              </form>


         </p>
       </fieldset>
    </form>
